# =========================
# Maven
# =========================
target/
/target
./target
# =========================
# Java
# =========================
*.class

# =========================
# IDE - IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# IDE - Eclipse
# =========================
.classpath
.project
.settings/

# =========================
# IDE - VS Code
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Archivos temporales
# =========================
*.log
*.tmp